@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

* {
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
    box-sizing: border-box;
	animation: all 5s;
}

body {
	font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #E8E9E5;
}

main {
	padding: 0 20px;
	padding-bottom: 50px;
	min-height: 80vh;
}

nav {
	height: auto;
	width: 100%;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

html {
	background-color: #006cb7; 
}


footer {
	background-color: #006cb7;
	color: white;
	display: block;
	padding: 10px 20px;
	text-align: center;
}

a, p, span, li {
	font-size: 1.2rem;
}

a {
	text-decoration: none;
	color: #006cb7;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

.menu {
	padding: 0;
	list-style: none;
	margin: 0;
	opacity: 0;
	max-height: 0;		
	transition: all .5s;
}

.open {
	opacity: 1;
	max-height: 100vh;
}

.menu li {
	text-align: center;
	display: none;
	overflow: hidden;
	background-color: #006cb7;
}

.open li {
	display: block;
}

.menu li a {
	display: block;
	width: 100%;
	text-decoration: none;
	padding: 10px 0;
	color: white;
	font-weight: bold;
	opacity: 0.6;	           
    transition: all .5s;
}

.active a, .menu li a:focus {
	opacity: 1 !important;
}

.menu li a:hover {
	opacity: 1;
}


.menu-icon {
	display: inline-block;
	cursor: pointer;
	float: right;
	width: 60px;
	height: 60px;
	padding: 0 12px;
	margin-right: 5px;
	margin-left: auto;
	margin-top: 7px;
	border: 0;
	background: transparent;
}

.menu-icon span {
	transition: all .25s;
}

.menu-icon.close span {
	opacity: 0;
}

.menu-icon.close span:nth-child(1) {	
	transform: rotate(-45deg) translate(-5px, 6px);
	opacity: 1;
}

.menu-icon.close span:nth-child(2) {
	transition: all .1s;
}

.menu-icon.close span:nth-child(3) {	
	transform: rotate(45deg) translate(-5px, -6px);
	opacity: 1;
}

.menu-icon span {
	display: block;
	width: 100%;
	height: 3px;
	background-color: #006cb7;
	margin: 5px 0;
	border-radius: 20px;
}

.brand {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	color: #E8E9E5;
	font-size: 1.4rem;
	z-index: 1;
	width: 180px;
	padding: 18px 10px;
	margin-left:10px;
	margin-right: auto;
}

.brand span {
	font-weight: bold;
	font-size: 1.2rem;
	z-index: 3;
}

.brand::after {
	position: absolute;
	content: "";
	height: 100%;
	width: 1000%;
	top: 0;
	right: 37px;	
	transform: skewX(50deg);
	right: 0;
	background: #006cb7;
}

.validado {
	position: absolute;
	right: 30px;
}

.alunos.pessoal {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 20px;
}

.alunos.pessoal .aluno {
	float: none;
}

.alunos.pessoal .legenda h2 {
	font-size: 1.2rem;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 5px 10px;
	margin-bottom: 15px;
	border-radius: 5px;
}

.alunos.pessoal .legenda .social {
	display: inline-block;
	padding-top: 5vh;
	width: 100%;
	text-align: right;
}

.alunos.pessoal .legenda .social a {
	display: inline-block;
	margin-right: 7px;
	color: white;
	opacity: .6;	           
    transition: opacity .3s;
}

.alunos.pessoal .legenda .social a:hover {
	opacity: 1;
}


.aluno {
	min-height: 1px;
	float: left;
	width: 100%;
	text-align: center;	
	margin-top: 20px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 20px;
}

.aluno img{
	width: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.pessoal .aluno {
	margin-top: 15px;
	display: block;
}

.alunos .legenda {
	margin-top: -8px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #006cb7;
	padding: 10px;
	color: #E8E9E5;
}

.effect {
    position: absolute;
    top: -10px;
    left: 20px;
    height: 0px;
    width: 0px;
    border: 14px solid;
    border-color: #006cb7;
    transform: rotate(45deg);
}

.alunos .legenda h2 {
	font-size: 1.2rem;
	text-align: center;
	margin: 0;
}

.alunos .legenda p {
	text-align: justify;
}

.header {
	width: 100%;
}

.title {
	display: block;
	font-size: 30px !important;
	margin: 4vh auto;
}

.title *:first-child {
	display: inline-block;
}

.title *:first-child::before {
	content: "";
	height: 3px;
	position: absolute;
	left: 3px;
	bottom: 2px;
	width: 8%;
	background-color: black;
}

.title *:first-child::after {
	content: "";
	width: 30%;
	height: 3px;
	left: 10%;
	position: absolute;
	bottom: 2px;
	background: #006cb7;
}

.subtitle {
	margin: 3vh 0;
}


.tabela-responsiva {
	min-height: .01%;
	width: 100%;
	overflow-x: scroll;
	border: 3px solid #006cb7;
	border-collapse: collapse;
}

.tabela-responsiva thead {
	background-color: #006cb7;
	color: white;
	font-weight: bold;
	text-align: left;
}

.tabela-responsiva thead th {
	border: 1px solid #006cb7;
}

.tabela-responsiva td, .tabela-responsiva th {
	padding: 5px 5px;
}

.tabela-responsiva tr td:first-child {
	font-weight: bold;
}

.tabela-responsiva tr:nth-child(odd) {
	background-color: rgba(0,108,183,0.1);
}

.tabela-responsiva tr:nth-child(even) {
	background-color: rgba(0,108,183,0.7);
	color: white;
}

.sites {
	margin-bottom: 15px;
}

.sites h3 {
	font-size: 1.9rem;
}

.sites ul li {
	display: inline-block;
	vertical-align: top;
	padding-right: 15px;
	width: 100%;
	filter: grayscale(50%);	           
    transition: all .5s;
}

.sites ul li:hover {
	filter: grayscale(0%);
}

.sites li a img {
	display: block;
	margin-top: 15px;
	width: 100%; 
}

.sites li a p {
	font-size: 1.7rem;
	text-align: center;
}

.form form {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.form label {
	font-size: 1.5rem;
	color: #006cb7;
}

.form input {
	display: block;
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	border-radius: 5px;
	font-size: 1.3rem;
	padding: 10px;
}

.form textarea {
	display: block;
	width: 100%;
	border-radius: 5px;
	font-size: 1.3rem;
	padding: 10px;
	font-size: 1.2rem;
}

.form input[type="submit"] {
	background-color: #006cb7;
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 7px 0;
	height: 50px;
	filter: grayscale(50%);
	margin-top: 15px;
	cursor: pointer;	           
    transition: all .5s;
}

.form input[type="submit"]:hover {
	filter: grayscale(0%);
}

.contato-float {
	position: fixed;
	bottom: -15px;
	right: 5px;
	background-color: #006cb7;
	padding: 10px 15px 20px 20px;
	font-size: 1rem;
	color: white;
	border-radius: 10px;
	text-transform: uppercase;
	box-shadow: 0 0 1em rgba(255, 255, 255, 0.5);
}

.contato-float a {
	color: white;
	text-shadow: 0 0 1em rgba(255, 255, 255, 0.5);
}

input::placeholder, textarea::placeholder {
	font-size: 1.3rem;
	opacity: .4;
	font-weight: normal;
	font-family: 'Titillium Web';
}

textarea::placeholder {
	font-size: 1.2rem;
}

.portfolio .trabalho {
	width: 100%;
	padding: 10px;
	float: left;
}

.portfolio .trabalho img{
	max-width: 100%;
	max-height: 100vw;
	margin: 0 auto;
}

.portfolio .trabalho .legenda {
	width: 100%;
	background-color: #006cb7;
	color: white;
	padding: 15px;
	font-weight: bold;
	font-size: 1.2rem;
}

.trabalhos .trabalho-wrapper:before,.trabalhos .trabalho-wrapper:after  {
	display: table;
	content: " ";
}

.trabalhos .trabalho-wrapper:after  {
	clear: both;
}


/* xs */
@media (min-width: 576px) {
}

/* sm */
@media (min-width: 768px) {
	.portfolio .trabalho {
		width: 33%;
	}

	.portfolio .trabalho-wrapper img {
		max-height: 25vw;
	}

	.alunos.pessoal {
		width: 80%;
		margin: 0 auto;
	}
	.form form {
		width: 70%;
	}
	.sites ul li {
		width: 49%;
	}
}


/* md */
@media (min-width: 1010px) {
	.menu-icon {
		display: none;	
	}

	.menu {
		display: inline-block !important;
		float: right;
		padding-bottom: 0;
		max-height: 100vh;
		opacity: 1;					
		transition: all .0s !important;
	}
	.menu li {
		display: inline-block;
		width: auto;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.2);
	}
	.menu li a {
	    display: inline-block;
	    width: auto;
	    padding: 21px 15px;
		color: #006cb7;
	}

	li.active {
		background-color: #006cb7;
	}

	.menu li.active a {
		opacity: 1;
		color: white
	}

	.header {
		text-align: center;
	}

	.title {
		text-align: center;
	}


	.alunos .aluno:nth-child(2) {
		float: right;
	}

	.alunos {
		width: 50%;
		margin: 0 auto;
	}

	.alunos.pessoal img, .alunos.pessoal .legenda{
		border-radius: 0;
	}

	.alunos.pessoal, .alunos.pessoal .aluno {
		box-shadow: none;
	}


	.alunos.pessoal {
		width: 65%;
		margin: 0 auto;
		background-color: #006cb7;
		padding-top: 7px;
		padding-left: 7px;
	}

	.alunos.pessoal .aluno {
		display: inline-block;
		margin: 0;
		float: left;
		width: 50%;		
	}

	.alunos.pessoal .aluno img {
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}

	.alunos.pessoal .legenda {
		display: inline-block;
		float: left;
		margin-top: 0;
		width: 50%;
		margin: 0;
		padding: 2%;
		border-bottom-right-radius: 20px;
	    border-top-right-radius: 20px;
	}

	.alunos.pessoal .legenda .effect {
		top: 60px;
    	left: -10px;
	}

	.aluno {
		text-align: center;	
		width: 48%;		
		vertical-align: top;
		margin: 0;
	}

	.aluno img{
		max-width: 100%;
	}

	.pessoal .aluno {
		width: 10%;
		text-align: center;
	}

	.tabela-responsiva {
		width: 70%;
		margin: 0 auto;
		overflow: hidden;
	}

	.tabela-responsiva td, .tabela-responsiva th {
		font-size: 1.2rem;
	}

	.sites {
		position: relative;
		width: 48%;
		float: left;
		padding: 1%;
	}
	.form form {
		width: 50%;
	}
	
	.sites ul li {
		width: 24%;
	}
}	

/* lg */
@media (min-width: 1200px) {

}

/* Utilidades */
.alunos:after {
	content: '';
	display: table;
	clear: both;
}

section:after {
	content: '';
    display: table;
    clear: both;
}

