@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
* {
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #E8E9E5;
}

main {
	padding: 0 20px;
	padding-bottom: 50px;
	min-height: 70vh;
}

nav {
	height: auto;
	width: 100%;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

html {
	background-color: #006cb7; 
}

footer {
	background-color: #006cb7;
	color: white;
	display: block;
	padding: 10px 20px;
	text-align: center;
}

a, p, span, li {
	font-size: 1.2rem;
}

a {
	text-decoration: none;
	color: #006cb7;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

.menu {
	padding: 0;
	list-style: none;
	margin: 0;
	opacity: 0;
	max-height: 0;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}

.open {
	opacity: 1;
	max-height: 100vh;
}

.menu li {
	display: block;
	text-align: center;
	display: block;
	overflow: hidden;
	background-color: #006cb7;
}

.menu li a {
	display: block;
	width: 100%;
	text-decoration: none;
	padding: 10px 0;
	color: white;
	font-weight: bold;
	opacity: 0.6;
	-webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
}

.active a, .menu li a:focus {
	opacity: 1 !important;
}

.menu li a:hover {
	opacity: 1;
}


.menu-icon {
	display: inline-block;
	cursor: pointer;
	float: right;
	width: 60px;
	height: 60px;
	padding: 0 12px;
	margin-right: 5px;
	margin-left: auto;
	margin-top: 7px;
	border: 0;
	background: transparent;
}

.menu-icon span {
	transition: all .25s;
}

.menu-icon.close span {
	opacity: 0;
}

.menu-icon.close span:nth-child(1) {
	-webkit-transform: rotate(-45deg) translate(-5px, 6px);
	transform: rotate(-45deg) translate(-5px, 6px);
	opacity: 1;
}

.menu-icon.close span:nth-child(2) {
	transition: all .1s;
}

.menu-icon.close span:nth-child(3) {
	-webkit-transform: rotate(45deg) translate(-5px, -6px);
	transform: rotate(45deg) translate(-5px, -6px);
	opacity: 1;
}

.menu-icon span {
	display: block;
	width: 100%;
	height: 3px;
	background-color: #006cb7;
	margin: 5px 0;
	border-radius: 20px;
}

.brand {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	color: #E8E9E5;
	font-size: 1.4rem;
	z-index: 1;
	width: 180px;
	padding: 18px 10px;
	margin-left:10px;
	margin-right: auto;
}

.brand span {
	font-weight: bold;
	font-size: 1.2rem;
	z-index: 3;
}

.brand::after {
	position: absolute;
	content: "";
	height: 100%;
	width: 1000%;
	top: 0;
	right: 37px;
	-webkit-transform: skewX(50deg);
	-ms-transform: skewX(50deg);
	transform: skewX(50deg);
	right: 0;
	background: #006cb7;
}

.validado {
	position: absolute;
	right: 30px;
}

.alunos.pessoal {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 20px;
}

.alunos.pessoal .aluno {
	float: none;
}

.alunos.pessoal .legenda h3 {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 5px 10px;
	margin-bottom: 15px;
	border-radius: 5px;
}

.aluno.pessoal .legenda .social a {
	color: white;
}

.aluno {
	min-height: 1px;
	float: left;
	width: 100%;
	text-align: center;	
	margin-top: 20px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 20px;
}

.aluno img{
	width: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.pessoal .aluno {
	margin-top: 15px;
	display: block;
}

.alunos .legenda {
	margin-top: -8px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #006cb7;
	padding: 10px;
	color: #E8E9E5;
}

.effect {
    position: absolute;
    top: -10px;
    left: 20px;
    height: 0px;
    width: 0px;
    border: 14px solid;
    border-color: #006cb7;
    transform: rotate(45deg);
}

.alunos .legenda h3 {
	text-align: center;
	margin: 0;
}

.alunos .legenda p {
	text-align: justify;
}

.header {
	width: 100%;
}

.title {
	display: block;
	font-size: 30px !important;
	margin: 4vh auto;
}

.title *:first-child {
	display: inline-block;
}

.title *:first-child::before {
	content: "";
	height: 3px;
	position: absolute;
	left: 3px;
	bottom: 2px;
	width: 8%;
	background-color: black;
}

.title *:first-child::after {
	content: "";
	width: 30%;
	height: 3px;
	left: 10%;
	position: absolute;
	bottom: 2px;
	background: #006cb7;
}

.subtitle {
	margin: 3vh 0;
}


.tabela-responsiva {
	min-height: .01%;
	width: 100%;
	overflow-x: scroll;
}

.tabela-responsiva thead{
	border: 2px solid #006cb7;
	color: #006cb7;
	font-weight: bold;
	text-align: left;
}

.tabela-responsiva td, .tabela-responsiva th {
	padding: 5px 5px;
}

.tabela-responsiva tr td:first-child {
	font-weight: bold;
}

.sites {
	margin-bottom: 15px;
}


::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;
}

::-webkit-scrollbar-thumb {
    background: #000; 
}

/* xs */
@media (min-width: 576px) {

}

/* sm */
@media (min-width: 768px) {
	
}


/* md */
@media (min-width: 992px) {
	.menu-icon {
		display: none;	
	}
	.menu {
		display: inline-block !important;
		float: right;
		padding-bottom: 0;
		max-height: 100vh;
		opacity: 1;
		-webkit-transition: all .0s !important;
		-moz-transition: all .0s !important;
		-ms-transition: all .0s !important;
		-o-transition: all .0s !important;
		transition: all .0s !important;
	}
	.menu li {
		display: inline-block;
		width: auto;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.2);
	}
	.menu li a {
	    display: inline-block;
	    width: auto;
	    padding: 20px 15px;
		color: #006cb7;
	}

	li.active {
		background-color: #006cb7;
	}

	.menu li.active a {
		opacity: 1;
		color: white
	}

	.header {
		text-align: center;
	}

	.title {
		text-align: center;
	}


	.alunos .aluno:nth-child(2) {
		float: right;
	}

	.alunos {
		width: 50%;
		margin: 0 auto;
	}

	.alunos.pessoal img, .alunos.pessoal .legenda{
		border-radius: 0;
	}

	.alunos.pessoal, .alunos.pessoal .aluno {
		box-shadow: none;
	}

	.alunos.pessoal {
		width: 60%;
		margin: 0 auto;
		background-color: #006cb7;
		padding-top: 7px;
		padding-left: 7px;
	}

	.alunos.pessoal .aluno {
		display: inline-block;
		margin: 0;
		float: left;
		width: 50%;		
	}

	.alunos.pessoal .aluno img {
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}

	.alunos.pessoal .legenda {
		display: inline-block;
		float: left;
		margin-top: 0;
		width: 45%;
		margin: 0;
		padding: 2%;
		border-bottom-right-radius: 20px;
	}

	.alunos.pessoal .legenda .effect {
		top: 60px;
    	left: -10px;
	}

	.aluno {
		text-align: center;	
		width: 48%;		
		vertical-align: top;
		margin: 0;
	}

	.aluno img{
		max-width: 100%;
	}

	.pessoal .aluno {
		width: 10%;
		text-align: center;
	}

	.tabela-responsiva {
		width: 100%;
		overflow: hidden;
	}

	.align-right {
		text-align: right;
	}

	.sites {
		position: relative;
		width: 48%;
		float: left;
		padding: 1%;
	}
}	

/* lg */
@media (min-width: 1200px) {

}

/* Utilidades */
.alunos:after {
	content: '';
	display: table;
	clear: both;
}